<h1> Системы электрообогрева</h1>
<ol>
  <li><a href="main.html">main.html - Главная</a></li>
  <li><a href="services.html">services.html - Наши услуги</a>
    <ul>
      <li><a href="service.html">service.html - Карточка услуги</a></li>
    </ul>
  </li>
  <li><a href="accessories.html">accessories.html - Комплектующие</a></li>
  <li><a href="about.html">about.html - О нас</a>
    <ul>
      <li><a href="company.html">company.html - О компании</a></li>
      <li><a href="contacts.html">contacts.html - Контакты</a></li>
      <li><a href="certificates.html">certificates.html - Сертификаты</a></li>
      <li><a href="partners.html">partners.html - Бренды-партнеры</a></li>
      <li><a href="payment.html">payment.html - Условия оплаты</a></li>
    </ul>
  </li>
  <li><a href="404.html">404.html - 404</a></li>
  <li><a href="privacy-policy">privacy-policy.html - Политика конфиденциальности</a></li>
</ol>